// background color
$bg-primary: #191b22;
$bg-header: lighten($bg-primary, 15%);
$bg-panel: lighten($bg-primary, 10%);

// text color
$text-primary: #fff;

// button color
$btn-primary: #2b90d9;